body {
	background-image: url('https://farm5.staticflickr.com/4524/27283027699_25009acdce_k.jpg');
	background-size: 2500px;
	opacity: 0.72;

}

#container {
	margin-top: 50px;
	margin-left: 150px;
	margin-right: 150px;
	margin-bottom: 50px;
	padding: 50px 100px 10px 100px;
	background-color: #FFFFFF;
	font-family: "Century Gothic", sans-serif;

}

#content-contact {
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#content-profile {
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #696969;
	padding-left: 30px;
	padding-bottom: 10px;
}

#content-experience {
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #808080;
	padding-left: 30px;
	padding-bottom: 10px;
}

#content-education {
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #A9A9A9;
	padding-left: 30px;
	padding-bottom: 10px;
}

#content-skills {
	border-left-width: 10px;
	border-left-style: solid;
	border-left-color: #C0C0C0;
	padding-left: 30px;
}

h1 {
	margin: 0px;
	padding: 10px;
	font-size: 56px;
}

h2 {
	font-size: 27px;
}

h3 {
	font-size: 16px;

}

h4 {

}

h5 {
	margin: 0px;
	padding: 0px;
	font-size: 15px;
}

li {
	font-size: 16px;

}
